<div class="flex flex-col item-center justify-center m-auto">
  <div class="grid grid-cols-2 gap-4 shadow-md bg-white rounded-lg w-auto mb-8">
    <div class="p-4">
      <p class="text-lg font-bold mb-2">Short URL:</p>
      <p class="text-gray-600 mb-4"><%= @url.short %></p>

      <p class="text-lg font-bold mb-2">Target URL:</p>
      <p class="text-gray-600 mb-4"><%= @url.target %></p>
    </div>
    <div class="p-4">
      <p class="text-lg font-bold mb-2">Title:</p>
      <p class="text-gray-600 mb-4"><%= @url.title %></p>

      <p class="text-lg font-bold mb-2">Visit Count:</p>
      <p class="text-gray-600 mb-4"><%= @url.count %></p>
    </div>
  </div>

  <div class="bg-gray-100 p-6 rounded-lg w-full">
    <h2 class="text-xl font-semibold ">Visits</h2>
    <h3 class="text-gray-600 mb-4">Time in UTC</h3>
    <div class="grid grid-cols-2 gap-4">
      <%= render @url.url_visits%>
    </div>
  </div>
</div>