<div class="flex flex-col item-center justify-center m-auto">
  <a class="text-3xl font-bold mb-8 mx-auto hover:text-gray-500" href="/">Shorten Your URL</a>
  <div class="grid grid-cols-2 gap-4 shadow-md bg-white rounded-lg mb-8">
    <div class="p-4">
      <p class="text-lg font-bold mb-2">Short URL:</p>
      <div class="flex item-center mb-4 justify-between">
        <a class="text-gray-600 py-0.5 hover:text-gray-400" href="<%= "#{request.base_url}/#{@url.short}" %>" ><%="#{request.base_url}/#{@url.short}" %></a>
        <button class="ml-2 bg-gray-200 text-gray-700 rounded-md px-2 py-0.5 hover:bg-gray-300 clipboard-button" data-clipboard-text="<%= "#{request.base_url}/#{@url.short}" %>">
          Copy
        </button>
      </div>

      <p class="text-lg font-bold mb-2">Target URL:</p>
      <a class="text-gray-600 mb-4 break-words hover:text-gray-400" href=<%= @url.target %>><%= @url.target %></a>
    </div>
    <div class="p-4">
      <p class="text-lg font-bold mb-2">Title:</p>
      <p class="text-gray-600 mb-4 break-words"><%= @url.title %></p>

      <p class="text-lg font-bold mb-2">Visit Count:</p>
      <p class="text-gray-600 mb-4 break-words"><%= @url.count %></p>
    </div>
  </div>

  <div class="bg-gray-100 p-6 rounded-lg w-full">
    <h2 class="text-xl font-semibold ">Visits</h2>
    <h3 class="text-gray-600 mb-4">Time in UTC</h3>
    <div class="grid grid-cols-3 gap-4">
      <%= render @url.url_visits%>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('[data-clipboard-text]').forEach(button => {
    button.addEventListener('click', function(event) {
      const copyText = event.target.dataset.clipboardText;
      navigator.clipboard.writeText(copyText);
      event.target.innerHTML = 'Copied!';
      setTimeout(() => {
        event.target.innerHTML = 'Copy';
      }, 1000);
    });
  });
</script>